{% extends 'base.html.twig' %}

{% block body %}
    
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
    <h1>{% trans %}Media{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %} Id{% endtrans %}</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>{% trans %} Name {% endtrans %}</th>
                <td>{{ medium.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Filename{% endtrans %}</th>
                <td>{{ medium.filename }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('media_edit', { 'id': medium.id }) }}">{% trans %} Edit  {% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
