{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{% trans %} Dashboard {% endtrans %}</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">{% trans %} Dashboard {% endtrans %}</li>
                </ol>
            </div>
        </div>
    <h1>{% trans %}Note{% trans %} Creation{% endtrans %}</h1>

    {#{{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %} Create{% endtrans %}" />
    {{ form_end(form) }}#}

        <td> {{ form_widget(attribute(form, '')) }}</td>
        <td> {{ form_widget(attribute(form, 'matieres')) }}</td>

    <ul>
        <li>
            <a href="{{ path('notes_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
