{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{% trans %} Dashboard {% endtrans %}</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">{% trans %} Dashboard {% endtrans %}</li>
                </ol>
            </div>
        </div>
    <h1>{% trans %}Addresses list{% endtrans %}</h1>

    <table>
        <thead>
            <tr>
                <th>{% trans %} Id{% endtrans %}</th>
                <th>{% trans %} Tel {% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Bp{% endtrans %}</th>
                <th>{% trans %}Fax{% endtrans %}</th>
                <th>{% trans %}Longitude{% endtrans %}</th>
                <th>{% trans %}Latitude{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('addresses_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.tel }}</td>
                <td>{{ address.email }}</td>
                <td>{{ address.bP }}</td>
                <td>{{ address.fax }}</td>
                <td>{{ address.longitude }}</td>
                <td>{{ address.latitude }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('addresses_show', { 'id': address.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('addresses_edit', { 'id': address.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('addresses_new') }}">Create a new address</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
