{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{% trans %} Dashboard {% endtrans %}</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">{% trans %} Dashboard {% endtrans %}</li>
                </ol>
            </div>
        </div>
    <h1>{% trans %}Student edit{% endtrans %}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{% trans %} Edit  {% endtrans %}" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('students_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
