{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{% trans %} Dashboard {% endtrans %}</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">{% trans %} Dashboard {% endtrans %}</li>
                </ol>
            </div>
        </div>
    <h1>{% trans %}Etablissement{% endtrans %}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{% trans %} Id{% endtrans %}</th>
                <td>{{ etablissement.id }}</td>
            </tr>
            <tr>
                <th>{% trans %} Name {% endtrans %}</th>
                <td>{{ etablissement.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sigle{% endtrans %}</th>
                <td>{{ etablissement.sigle }}</td>
            </tr>
            <tr>
                <th>{% trans %}Datecreation{% endtrans %}</th>
                <td>{% if etablissement.dateCreation %}{{ etablissement.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ etablissement.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}Logo{% endtrans %}</th>
                <td><img src="{{ asset('uploads/logo/' ~ etablissement.filename) }}" alt=""></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etablissements_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('etablissements_edit', { 'id': etablissement.id }) }}">{% trans %} Edit  {% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
