{% extends 'base.html.twig' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{% trans %} Dashboard {% endtrans %}</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ path('homepage') }}">{% trans %} Home {% endtrans %}</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">{% trans %} Dashboard {% endtrans %}</li>
                </ol>
            </div>
        </div>
    <h1>{% trans %}Staff{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th></th>
                <td><img src="{{ asset('uploads/staff/' ~ staff.filename) }}" alt=""></td>
            </tr>
            <tr>
                <th>{% trans %} Name {% endtrans %}</th>
                <td>{{ staff.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Fonction{% endtrans %}</th>
                <td>{{ staff.fonction }}</td>
            </tr>
            <tr>
                <th>{% trans %} Tel {% endtrans %}</th>
                <td>{{ staff.tel }}</td>
            </tr>
            <tr>
                <th>{% trans %}Mail{% endtrans %}</th>
                <td>{{ staff.mail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('staff_edit', { 'id': staff.id }) }}">{% trans %} Edit  {% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
