<!DOCTYPE html>

<title>LienUtile index</title>

{% block body %}
    <h1>{% trans %}LienUtile index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}LinkToWebsite{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for lien_utile in lien_utiles %}
            <tr>
                <td>{{ lien_utile.id }}</td>
                <td>{{ lien_utile.name }}</td>
                <td>{{ lien_utile.linkToWebsite }}</td>
                <td>
                    <a href="{{ path('lien_utile_show', {'id': lien_utile.id}) }}">show</a>
                    <a href="{{ path('lien_utile_edit', {'id': lien_utile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lien_utile_new') }}">Create new</a>
{% endblock %}
