{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %} Chef_Department{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %} Id{% endtrans %}</th>
                <td>{{ chef_department.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ chef_department.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chef_department_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('chef_department_edit', { 'id': chef_department.id }) }}">{% trans %} Edit  {% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
