{% extends 'base.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
    <div class="container" >
<div class='row'>
<div class='col-sm-6 form-group'>
 
        {{ form_start(form) }}
        {{ form_row(form.intitule) }}
         <ul class="chapitres list list-unstyled" data-prototype="{{ form_widget(form.chapitres.vars.prototype)|e('html_attr') }}">
    <li>       {{ form_row(form.chapitres) }}</li>
</ul>       

</div>
<div class='col-sm-6 form-group'>

 
       
 <div class="box-footer clearfix">
                  <button type='submit' value="Soumettre"  class="mdl-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-primary pull-right">Create <i class="fa fa-paper-plane-o"></i></button>
 
</div>
                {{ form_end(form) }}

</div>
        <div class='col-sm-6 form-group'>
            
        </div>
            <div class='row centered  form-group'>

          </div>
    </div>
  </div>
    </div>
    <script src="{{ asset('assets/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript">
       var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<button type="button" class="add_tag_link">{% trans %}Add{% endtrans %}  a tag</button>');
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    var $collectionHolder = $('ul.chapitres');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
});
    
    
    
    function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
     newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "{% trans %}Add{% endtrans %}  a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}

 </script>

       
{% endblock %}
