<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block d-lg-block" data-ride="carousel" >
  <!--<ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
  </ol>-->
  <div class="carousel-inner fonctionnalites w3-round-large w3-center">
    <div class="carousel-item w3-round-large  active ">
        <div class="w3-display-container">
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/s.png') }}"  >
    
            <h2 class="w3-display-topright  w3-container w3-teal w3-round-large w3-center w3-opacity-min">  {% trans %}Possibility for the parent, the guardian, 
                or the student himself to consult for all the information{% endtrans %}
            </h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
                
        </div>
    </div>
    <div class="carousel-item w3-round-large ">   
        <div class="w3-display-container">
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/pupil.png') }}"  >
    
            <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Daily information about the child and sent by sms and / or email{% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
  </div>
  </div>
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/bg-01.jpg') }}"  >
    
                <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Information on specific shortcomings to guide follow-up action at home {% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>

                
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/main.jpg') }}"  >
    
    <h2 class=" w3-display-middle w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Information by phone call{% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
    
    
    <div class="carousel-item w3-round-large ">
        
        <div class="w3-display-container">
            
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/portrait.webp') }}"  >
    
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Integration of all information related to the discipline,
         grades, school activities, attendance, homework not done,
         active participation in classes, extracurricular and extracurricular activities, etc.… {% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
         
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/teen.jpg') }}"  >
        
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min ">{% trans %}Availability of a reliable information sheet of the student  obtained
         directly from parents.{% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
         
    <div class="carousel-item w3-round-large ">
        
        <div class="w3-display-container">
            
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/girl.png') }}"  >
    
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Possibility, for teachers and other administrative staff,
             to make the tests and corrections available, free of charge,
             with the possibility for students to consult easily and free of charge{% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
             
    
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/black.jpg') }}"  >
    
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
            {% trans %}Availability of the child's up-to-date medical record for
         allow rapid support in the event of a problem
{% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
        </div>
        </div>
        
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            
            
        <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/distance.png') }}"  >
    
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}Possibility of retrospectively entering student files {% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
        
    <div class="carousel-item w3-round-large ">
        <div class="w3-display-container">
            
            <img width="100%"   class="round-large w3-image" src="{{ asset('assets/img/school2.jpg') }}"  >
    
        
        <h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">{% trans %}
Section reserved for advice, useful websites,
         civic instruction, etc ... that students can consult for free {% endtrans %}</h2 class=" w3-display-right w3-container w3-teal w3-round-large w3-center w3-opacity-min">
    
    </div>
    </div>
  </div>
         
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<style>
    .fonctionnalites {
        //margin: 5% 0;
      //  padding:5% 5%;
        text-align: center;
       // text-decoration: underline lime;
      //  background:  url('{{asset('assets/img/black.jpg')}}') orange center;
       //-webkit-background-size: cover;
       // height: 200px;
        //max-height:200px;
      //  background-attachment:fixed;
        //background-size: cover;
        min-height:800px;
        max-height:800px;
        //opacity:0.9;
       // color: ;
    }
 img{
       // text-decoration: underline lime;
      //  background:  url('{{asset('assets/img/black.jpg')}}') orange center;
       //-webkit-background-size: cover;
       // height: 200px;
        //max-height:200px;
      //  background-attachment:fixed;
        //background-size: cover;
        //min-height:100px;
        //height:100%;
        //max-height:100px;
        opacity:0.99;
        color:green;
       // color: ;
    }
    
    </style>
    